<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">	
	<head>
		<title>Getting Started: Serving Web Content</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	
	<body>
		<table border="1">
		  <tr>
			<th>Name Event</th>
		    <th>Name</th>
		    <th>Email</th>
		  </tr>
		  <tr th:each = "u : ${Users}">
		  	<td th:text="${u.getEvenement().getName()}"></td>
			<td th:text="${u.name}"></td>
			<td th:text="${u.email}"></td>  
		  </tr>
		</table>
	</body>
</html>